<!DOCTYPE html>
<html>
<head>
  <title>AnnotateMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= button_to "Log out", session_url, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %> or <%= link_to "Sign up", new_user_url %>
<% end %>

<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
